p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: grey;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding: auto;